section{
    &.banner{
        @include make-section(0,0,20px);
    }
    &.category-cards{
        @include make-section(0,20px,20px);
    }
    &.partners{
        @include make-section(0,20px,20px);
    }
    &.services{
        @include make-section(0,20px,20px);
    }
    &.products{
        @include make-section(0,20px,20px);
    }
    &.products-page{
        @include make-section(0,20px,20px);
    }
    &.product-detail{
        @include make-section(0,20px,20px);
    }
    &.product-accessories{
        @include make-section(0,20px,20px);
    }
    &.similar-products{
        @include make-section(0,20px,20px);
    }
    &.wishlist{
        @include make-section(0,20px,20px);
        @media (min-width: 1400px){
            padding: 40px 0;
        }
    }
    &.comparisons{
        @include make-section(0,20px,20px);
        @media (min-width: 1400px){
            padding: 40px 0;
        }
    }
    &.basket{
        @include make-section(0,20px,20px);
        @media (min-width: 1400px){
            padding: 40px 0;
        }
    }
    &.basket-form{
        @include make-section(0,20px,20px);
        @media (min-width: 1400px){
            padding: 40px 0;
        }
    }
    &.login{
        @include make-section(0,20px,20px);
        @media (min-width: 1400px){
            padding: 40px 0;
        }
    }
    &.register{
        @include make-section(0,20px,20px);
        @media (min-width: 1400px){
            padding: 40px 0;
        }
    }
    &.orders{
        @include make-section(0,20px,20px);
        @media (min-width: 1400px){
            padding: 40px 0;
        }
    }
    &.about{
        @include make-section(0,20px,20px);
        @media (min-width: 1400px){
            padding: 40px 0;
        }
    }
    &.contact{
        @include make-section(0,20px,20px);
        @media (min-width: 1400px){
            padding: 40px 0;
        }
    }

}



@import 'banner'; 
@import 'category-cards'; 
@import 'partners';
@import 'services';
@import 'products';
@import 'products-page';
@import 'product-detail';
@import 'product-accesories';
@import 'basket';
@import 'basket-form';
@import 'order';
@import 'about';
@import 'contact';