section.partners{
    .swiper-slide{
        @include row-center;
    }
    .partner-logo{
        width: 200px;
        height: 60px;
        @include row-center;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
}