section.products{
    
    .products-swiper{
        overflow-y: visible;
        z-index: 0;
        .swiper-slide{
            @include row-center;
            overflow: visible;
            z-index: 0;
        }
    }
}