.product-card{
    $card-padding-x: 10px;

    width: 100%;
    max-width: 350px;
    position: relative;
    padding-top: $card-padding-x;
    @include column-justify-start;
    z-index: 1;
    margin-bottom: 40px;
    .content{
        width: 100%;
        padding: 0 $card-padding-x;
    }
    .image{
        width: 100%;
        height: 200px;
        position: relative;
        @media (min-width: 768px){
            height: 280px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
        .hover{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 100%;
            top: 0;
            left: 0;
            background-color: var(--black-5);
            @include row-center;
            opacity: 0;
            transition: all 0.2s;
            a.detail-btn{
                width: 70%;
                max-width: 190px;
                padding: 12px;
                @include row-center;
                text-align: center;
                color: var(--white);
                border: 1px solid var(--white);
                font-weight: 500;
                text-transform: capitalize;
                transform: scale(0);
                &:hover{
                    background-color: var(--bg-color-1);
                    border-color: var(--color-1);
                }
            }
        }
    }
    .information{
        width: 100%;
        @include column-align-start;
        padding: 15px 0;
        .code{
            color: $product-code-color;
            font-size: 16px;
        }
        .name{
            width: 100%;
            color: $product-name-color;
            font-size: 18px;
            text-transform: capitalize;
            height: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 10px;
            @media (min-width: 768px){
                font-size: 20px;
            }
        }
        .description{
            width: 100%;
            height: 80px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
            color: var(--text-color-1) !important;
            margin-bottom: 30px;
            line-height: 20px;
            font-weight: 400;
            p{
                color: var(--text-color-1) !important;
            }
        }
        .price{
            width: 100%;
            @include row-justify-start;
            .old{
                color: $product-old-price-color;
                font-size: 20px;
                margin-right: 10px;
                text-decoration: line-through;
                font-weight: 400;
                display: none;
            }
            .new{
                color: $product-price-color;
                font-size: 24px;
                font-weight: 500;
            }
        }
    }
    .buttons{
        width: 100%;
        position: relative;
        transition: all 0.2s;
        padding: 0 $card-padding-x;
        
        .inner{
            width: 100%;
            display: grid;
            min-height: 55px;
            grid-template-columns: repeat(3,1fr);
            gap: 5px;
            .card-btn{
                border: 1px solid var(--color-1);
                border-radius: 3px;
                @include row-center;
                flex-wrap: wrap;
                text-align: center;
                font-size: 16px;
                text-transform: capitalize;
                color: var(--color-1);
                &.active{
                    background-color: var(--bg-color-1);
                    color: var(--white);
                    img{
                        &:first-child{
                            display: none;
                        }
                        &:last-child{
                            display: block;
                        }
                    }
                }
                cursor: pointer;
                span{
                    display: none;
                    margin-left: 10px;
                }
                img{
                    display: block;
                    &:last-child{
                        display: none;
                    }
                }
            }
            .favorite-button{
                &.active{
                    background-color: #F8F3FF;
                }
            }
           
        }
    }
    &.discount{
        .information{
            .price{
                .old{
                    display: inline-block;
                }
            }
        }
    }
    &.card-xl{
        max-width: 450px;
    }
    &:hover{
        box-shadow: 0px 4px 20px rgba(50,50,50,0.2);
        // z-index: 100;
        .image{
            .hover{
                opacity: 1;
                a.detail-btn{
                    transform: scale(1);
                }
            }
        }
        .buttons{
            min-height: 55px;
            z-index: 10;
            .inner{
                position: absolute;
                top: 0;
                left: 0;
                min-height: 110px;
                background-color: var(--white);
                box-shadow: 0px 3px 20px rgba(50,50,50,0.2);
                padding: 0 $card-padding-x $card-padding-x;
                grid-template-areas: 
                
                "compare compare favorite"
                "basket basket basket";
                .card-btn{
                    span{
                        display: block;
                    }
                }
                .basket-button{
                    grid-area: basket;
                }
                .compare-button{
                    grid-area: compare;
                }
                .favorite-button{
                    grid-area: favorite;
                }
            }
        }
    }
}