.products-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 30px;
    padding: 20px 0;
    &.item-md-2{
        @media (min-width: 768px){
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &.item-xl-3{
        @media (min-width: 768px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 1200px){
            grid-template-columns: repeat(3, 1fr);
        }
    }
    &.item-xxl-3{
        @media (min-width: 768px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 1400px){
            grid-template-columns: repeat(3, 1fr);
        }
    }
    &.item-xl-4{
        @media (min-width: 768px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 992px){
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: 1200px){
            grid-template-columns: repeat(4, 1fr);
        }
    }
    &.item-xxl-4{
        @media (min-width: 768px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 1200px){
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: 1400px){
            grid-template-columns: repeat(4, 1fr);
        }
    }
}