.general-icons {
    @include row-justify-end;
    margin-top: 3px;

    a {
        margin-right: 25px;
        position: relative;
        .badge{
            position: absolute;
            top: 0;
            right: 0;
            font-size: 14px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: var(--bg-color-2);
            @include row-center;
            text-align: center;
            transform: translate(17px, -10px);
        }

        @media (min-width: 1400px) {
            margin-right: 40px;
        }

        img {
            max-width: 35px;
            max-height: 35px;
        }
    }

    &.mobile{
        position: fixed;
        @include column-align-start;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 99999;
        width: 65px;
        a{
            display: block;
            margin-bottom: 10px;
            width: 100%;
            box-shadow: 0 0 5px var(--black-5);
            padding: 10px;
            border-radius: 5px 0 0 5px;
            position: relative;
            background-color: var(--bg-color-1);
            margin-right: 0;
            .badge{
                position: absolute;
                top: 7px;
                right: 22px;
                font-size: 12px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: var(--bg-color-2);
                @include row-center;
                color: var(--color-1);
                font-weight: 500;
            }
            img{
                width: 30px;
                height: 25px;
            }
        }
    }
}