header{
    width: 100%;
    position: relative;
    nav{
        width: 100%;
        z-index: 999;
        .inner{
            width: 100%;
            @include row-between;
        }
        &.fixed-top{
            position: fixed !important;
            top: 0;
            left: 0;
            animation: fix-nav 0.5s ease forwards
        }
    }
}

@keyframes fix-nav{
    0%{
        opacity: 0;
        transform: translateY(-100%)
    }
    100%{
        opacity: 1;
        transform: translateY(0)
    }
}

// nav
@import 'nav/top';
@import 'nav/bottom';